-i https://pypi.org/simple
alembic
aniso8601
attrs
bcrypt
blinker
click
faker
flask==2.2.5
flask-bcrypt
flask-cors
flask-jwt-extended
flask-login
flask-marshmallow
flask-migrate
flask-restful
flask-restxflask-reuploaded
flask-sqlalchemy
flask-uploads
flask-wtf
greenlet
gunicorn
importlib-resources
itsdangerous
jinja2
jsonschema
mako

markupsafe

marshmallow

marshmallow-sqlalchemy

packaging

pyjwt

pyrsistent

python-dateutil

pytz

six

sqlalchemy

typing-extensions

validators

werkzeug

wtforms

