/* UserLoginPage.css */

.admin-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .admin-login-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  .admin-login-input {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .admin-login-button {
    background-color:  #dd343d;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    width:20%;
  }
  
  .login-error {
    color: red;
    margin-top: 5px;
  }
  

  