.link-style {
    text-decoration: none; /* Remove underlines from the link */
    color:#DD443D; /* Set the link text color to blue, you can change it as needed */
    font-weight: bold; /* Make the link text bold */
    font-size: 20px; /* Set the font size as needed */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Add any other styles you want for the link */
  }