/* UserLoginPage.css */

.user-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    }

.form-group {
    width: 35%;
    padding: 10px;
  }
  
  .user-login-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .user-login-input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .user-login-button {
    background-color:  #dd343d;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    width:20%;
  }
  
  .user-login-error {
    color: red;
    margin-top: 5px;
  }
  
  /* Add more CSS as needed for your specific styling */
  